<section>
  <div class="containeer">
    <div class="container col-lg-6">
      <h1 class="text-center">تسجيل الدخول</h1>
      <div class="card">
        <div class="google">
       
          <div id="g_id_onload"
               data-client_id="258396886121-t7vp5nvt5e2eo1u3579ml2ig35p33dib.apps.googleusercontent.com"
               data-context="signin"
               data-ux_mode="popup"
               data-login_uri="http://localhost:4200"
               data-auto_select="true"
               data-itp_support="true">
          </div>
      
          <div class="g_id_signin"
               data-type="standard"
               data-shape="pill"
               data-theme="filled_blue"
               data-text="signin_with"
               data-size="large"
               data-logo_alignment="left">
          </div>
        </div>
        
        <div class="card-body">
          <form [formGroup]="login" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">البريد الإلكتروني:</label>
              <input type="email" class="form-control" id="email" placeholder="أدخل بريدك الإلكتروني" formControlName="email" required>
              <div *ngIf="email?.invalid && !email?.hasError('required')" class="error-message">
                يرجى إدخال عنوان <strong>بريد إلكتروني</strong> صالح
              </div>
              <div *ngIf="email?.hasError('required')" class="error-message">
                البريد الإلكتروني مطلوب
              </div>
            </div>
        
            <div class="form-group">
              <label for="password">كلمة المرور:</label>
              <input type="password" class="form-control" id="password" placeholder="أدخل كلمة المرور" formControlName="password" required>
              <div *ngIf="password?.hasError('minlength') && !password?.hasError('required')" class="error-message">
                يجب أن تحتوي كلمة المرور على <strong>{{ password?.errors?.['minlength'].requiredLength}}</strong>
              </div>
              <div class="alert alert-warning" *ngIf="isLoginFailed">{{errorMessage}}</div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="login.invalid">تسجيل الدخول</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
