<body>
  <main>
  <section>


<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a (click)="goToPage2()" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          إستخراج مضمون الولادة
        </div>

        <div class="ag-courses-item_date-box">
          
          <span class="ag-courses-item_date">
            اضغط هنا
          </span>
        </div>
      </a>
    </div>

    

  </div>
</div>



</section>
</main>
</body>
